@model IEnumerable<Article>
@{
    ViewData["Title"] = "Search Page";
}

    <div>
        <h1 class="display-4">Index actions</h1>
        <a class="btn btn-danger" asp-controller="Search" asp-action="create">Create index</a>
        <a class="btn btn-primary" asp-controller="Search" asp-action="initialize">Initialize index</a>
        <br />
        @ViewData["Message"]
        <br />
        <form class="form-inline flex-grow-1" asp-controller="Search" asp-action="Index" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchText" name="searchText">
            <button class="btn  btn-outline-success" type="submit">Search</button>
        </form>
    </div>

@{
    if (Model != null)
    {

        <h2>@Model.Count() Results</h2>

        foreach (var document in Model)
        {
            <div>
                <h3>
                    <a asp-controller="article" asp-action="detail" asp-route-urlPattern="@document.UrlPattern">
                        @document.Title
                    </a>
                </h3>
                <p>
                    @document.Summary
                </p>
            </div>
        }
    }
}

